
body{
    background: lightskyblue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

div#principal {
    text-align: center;
    line-height: 40px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

