@charset "UTF-8";

@media screen and (min-width:768px) {

    section{
        font-size: 16pt;
        background: white;
        width: 651px;
        padding: 10px;
        line-height: 40px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.445);
    }
    
}
    
