@charset "UTF-8";

body{
    background: lightskyblue;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section{
    font-size: 11pt;
    background: white;
    width: 450px;
    padding: 10px;
    line-height: 40px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.445);
}



footer{
    color: white;
    text-align: center;
    font-style: italic;
}

